$purple: #405275;
$light-blue: #ADC4D7;
$light-grey: #F2F0F4;
$dark-grey: #2f3543;
$grey: #D8D8D8;
$medium-grey: #82858E;
$orange: #FF9D00;
$white: #fff;
$black: #000;

$sidebar-width: 300px;
$fadeText-distance: 0.2;

@font-face {
  font-family: 'BigNoodleTitling Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('BigNoodleTitling Oblique'), url('../fonts/big_noodle_titling_oblique.woff') format('woff');
}

body {
  background-color: $light-grey;
 h1 {
    font-size: 72px;
    text-transform: uppercase;
  } 
  h1, h2 {
    color: $dark-grey;
  }
  p, h3 {
    color: $dark-grey;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    li a {
      -webkit-transition: color 0.5s, font-size 0.5s;
      -moz-transition: color 0.5s, font-size 0.5s;
      -o-transition: color 0.5s, font-size 0.5s;
      transition: color 0.5s, font-size 0.5s;
    }
  }
}

header {
  z-index: 99;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  &.light-logo h1 a {
    color: $white;
    text-shadow: 2px 2px $dark-grey;
  }
  h1 {
    margin: 0;
    font-size: 36px;
    a {
      color: $black;
    }
  }
}

aside {
  width: $sidebar-width;
  position: fixed;
  height: 100%;
  .light-nav ul li a {
    color: $grey;
    text-shadow: 1px 1px 3px $dark-grey;
    &:hover {
      color: $light-grey;
    }
  }
  ul {
    padding: 5rem 1rem;
    li {
      padding: 10px;
      margin: 0;
      a {
        color: $medium-grey;
        &:hover {
          color: $black;
        }
      }
      .active {
        color: $black;
      }
      &.sub-nav {
        padding: 0;
        a {
          text-transform: uppercase;
          font-size: 12px;
          margin-left: 20px;
        }
        &-movement {
          padding-bottom: 10px;
        }
      }
      &.nav {
        &-work {
          padding-bottom: 0;
        }
        a {
          font-family: 'BigNoodleTitling Oblique';
          font-size: 48px;
          &:hover {
            font-size: 72px;
          }
        }
        .active {
          font-size: 72px;
        }
      }
    }
  }
}

main {
  // margin: auto;
  margin-left: $sidebar-width;
  padding: 5rem 2rem 5rem 0;
  width: auto;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(transparent, $dark-grey percentage($fadeText-distance), $dark-grey percentage(1 - $fadeText-distance), transparent);
  color: $dark-grey;
  -webkit-text-fill-color: transparent;
}

.home {
  background: url(../images/digitalnomad2.jpg) no-repeat bottom center fixed;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: -1;
  .content {
    background: $orange;
    color: $white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.about {

}

.work {

}

.contact {

}

footer {
  position: fixed;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  background: $black;
  ul {
    font-family: 'BigNoodleTitling Oblique';
    display: flex;
    justify-content: center;
    li {
      margin: 10px;
      a {
        color: $white;
        &:hover {
          font-size: 24px;
        }
      }
    }
  }
}