$purple: #405275;
$light-blue: #ADC4D7;
$light-grey: #F2F0F4;
$dark-grey: #2f3543;
$grey: #D8D8D8;
$orange: #FF9D00;
$white: #fff;
$black: #000;

@font-face {
  font-family: 'BigNoodleTitling Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('BigNoodleTitling Oblique'), url('../fonts/big_noodle_titling_oblique.woff') format('woff');
}

body {
 background-color: $light-grey;
  // background: url(../images/hex-petals.svg) no-repeat right bottom fixed; 
 h1 {
    font-size: 72px;
    text-transform: uppercase;
  } 
  h1, h2 {
    color: $orange;
  }
  p, h3 {
    color: $purple;
  }
  a {
    color: $orange;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
  }
}

.header {
  background: $purple;
  .branding {
    margin: 0 auto;
    padding: 1rem;
    h1 {
      margin: 0;
      font-size: 36px;
      a {
        color: $white;
      }
    }
  }
}

.subheader {
  background: $grey;
  margin-bottom: 1.45rem;
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    font-family: 'BigNoodleTitling Oblique';
    font-size: 36px;
    li {
      padding: 10px;
      margin: 0;
      background: $grey;
      a {
        color: $white;
      }
    }
  }
  .underline {
    background-color: $orange;
    height: 5px;
    margin-bottom: 0;
  }
}

.index {
  margin: 0 auto;
  padding: 0 1rem 1rem;
  padding-top: 0;
}

.about {

}

.work {

}

.contact {

}

.footer {
  background: $black;
  ul {
    font-family: 'BigNoodleTitling Oblique';
    display: flex;
    justify-content: center;
    li {
      margin: 10px;
      a {
        color: $white;
      }
    }
  }
}