$purple: #405275;
$light-blue: #ADC4D7;
$light-grey: #F2F0F4;
$dark-grey: #2f3543;
$grey: #D8D8D8;
$orange: #FF9D00;
$white: #fff;
$black: #000;

@font-face {
  font-family: 'BigNoodleTitling Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('BigNoodleTitling Oblique'), url('../fonts/big_noodle_titling_oblique.woff') format('woff');
}

body {
 background-color: $light-grey;
  // background: url(../images/hex-petals.svg) no-repeat right bottom fixed;
  height: 100vh; 
 h1 {
    font-size: 72px;
    text-transform: uppercase;
  } 
  h1, h2 {
    color: $dark-grey;
  }
  p, h3 {
    color: $dark-grey;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
  }
}

header {
  z-index: 99;
  position: fixed;
  background: $light-grey;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  h1 {
    margin: 0;
    font-size: 36px;
    a {
      color: $black;
    }
  }
}

.container {
  display: flex;
}

aside {
  width: 300px;
  ul {
    position: fixed;
    padding: 5rem 1rem;
    li {
      padding: 10px;
      margin: 0;
      a {
        color: $grey;
        &:hover {
          color: $black;
        }
      }
      &.sub-nav {
        padding: 0;
        a {
          text-transform: uppercase;
          font-size: 12px;
          margin-left: 20px;
        }
        &-movement {
          padding-bottom: 10px;
        }
      }
      &.nav {
        &-work {
          padding-bottom: 0;
        }
        a {
          font-family: 'BigNoodleTitling Oblique';
          font-size: 48px;
          &:hover {
            font-size: 72px;
          }
        }
      }
    }
  }
}

main {
  width: 80%;
  padding: 5rem; 
}

.about {

}

.work {
  .work-item {
    display: inline-block;
    width: 50%;
    padding: 10px;
  }
}

.contact {

}

footer {
  position: fixed;
  height: 40px;
  right: 0;
  left: 0;
  bottom: 0;
  background: $black;
  ul {
    font-family: 'BigNoodleTitling Oblique';
    display: flex;
    justify-content: center;
    li {
      margin: 10px;
      a {
        color: $white;
        &:hover {
          font-size: 24px;
        }
      }
    }
  }
}